<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
		</filter>
	</appender>
	
	<appender name="hkmall-service" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="file" value="./logs/hkmall-service-test.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n" />
		</layout>
	</appender>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="Console" />
		<!-- <appender-ref ref="hkmall-service" /> -->
	</root>

	
</log4j:configuration>